{% block footer %}
    <!-- footer content -->
    <footer>
        <div class="pull-right">
            ©2018 ELETRONICA TOTAL S.A
        </div>
        <div class="clearfix"></div>
    </footer>
    <!-- /footer content -->
{% endblock %}